@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .underline-hover {
    @apply text-[#235AB9] font-medium relative;
  }
  .underline-hover::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 1.5px;
    background-color: #235ab9;
    transition: width 0.2s ease-in-out;
  }
  .underline-hover:hover::after {
    width: 100%;
  }
}

@layer utilities {
  .icon-hover-effect {
    @apply size-6 transition-all duration-200 ease-in-out;
  }
  .icon-hover-effect:hover {
    @apply text-[#02328D] scale-125;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Albert Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

input,
input:focus,
input:hover,
input:active {
  outline: 0;
  box-shadow: none;
}

ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

/* style Button */
.button {
  cursor: pointer;
  position: relative;
  padding: 6px 30px;
  font-size: 16px;
  color: #ddff98; /* Initial text color */
  border: 1px solid black;
  background-color: black;
  font-weight: 500;
  border-radius: 4px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
  z-index: 2; /* Higher z-index to keep text above ::before */
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  scale: 0;
  z-index: 1;
  background-color: #d0ff6d;
  border-radius: 100%;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.button:hover::before {
  scale: 3.5;
  background-color: #d0ff6d;
  border-radius: 100%;
}

.button span {
  position: relative;
  z-index: 2;
  color: inherit;
}

.button:hover span {
  color: black;
  font-weight: 700;
}

/* Slider Style  */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 16px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* marquee Style */

.image_Wrapper {
  margin: 0px 30px;
}

.image_Wrapper img {
  width: 100%;
}
